<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lrj.mapper.CustomerMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache"
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->

	<select id="findCustomerPage" resultType="com.lrj.entity.CustomerFormMap">
		select *
		from tb_customer
		where 1 = 1
		<if test="name != null and name != ''">
          and name like '%${name}%'
        </if>
        <if test="salesman != null and salesman != ''">
          and salesman like '%${salesman}%'
        </if>
        <if test="applyloanJkQy != null and applyloanJkQy != ''">
          and applyloanJkQy like '%${applyloanJkQy}%'
        </if>
        <if test="applyloanJkje != null and applyloanJkje != ''">
          and applyloanJkje = '${applyloanJkje}'
        </if>
        <if test="begin != null and begin != '' and (end == null or end == '')">
          <![CDATA[ and createTime >= '${begin}']]>
        </if>
        <if test="(begin == null or begin == '') and end != null and end != ''">
          <![CDATA[ and createTime <= '${end}']]>
        </if>
        <if test="begin != null and begin != '' and end != null and end != ''">
          <![CDATA[ and createTime <= '${end}' and createTime >= '${begin}']]>
        </if>
        <if test="lowerSalesman != null and lowerSalesman.size() > 0">
        	<foreach collection="lowerSalesman" item="item" open="and salesman IN(" separator="," close=")">
				'${item}'
			</foreach>
        </if>
		<if test="column != null">
          order by ${column} ${sort}
        </if>
	</select>
	
	<select id="showTableInfo" resultType="map">
		show full fields from tb_customer
	</select>

</mapper>